.homepage-logo {
  max-width: 500px;
  margin: 0 auto;
  margin-top: 10%;
  display: block;
}

.login-container {
  margin: 0 auto;
  display: table;
  max-width: 500px;
  text-align: center;
  margin-top: 20px;
}

.login-label {
  font-size: 30pt;
  display: table-cell;
  padding: 20px;
}

.login-icon {
  display: table-cell;
  padding: 20px;
}
